version: '3'

services:
  mongo:
    # container_name: mongo
    image: mongo
    volumes:
    - ./mongodb-data:/data/db
    ports:
    - '27017:27017'
    restart: always
    # networks:
    #   - JP-CRM
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  api:
    build:
      dockerfile: Dockerfile.dev
      context: ./
    restart: always
    ports:
      - "5000:5000"
    links:
      - "mongo"
    volumes:
      - /app/node_modules
      - ./:/app
      - ./.env:/app/.env
    # depends_on:
    #   - mongo
    # networks:
    #   - JP-CRM

# networks:
#   JP-CRM:
#     driver: bridge